@media screen and (min-width:220px) and (max-width:480px) {
  .card-big-container{
     margin-left: 70%;     
   
    }
}


@media screen and (min-width:480px) and (max-width:768px)   {
   .login{
     width: 90%;
   
   
    }
   
    .sign-up{
        margin-left: 400px;
    }
    button{
        height: 40px;
    }
  
}


@media screen and (min-width : 768px) {
   .card-big-container{
     margin-left: 90%;     
   
    }
}