

@media screen and (min-width:220px) and (max-width:480px) {
   .profile-container{
    width: 100%;
    margin-left: 0px;
   }
   .image-container{
    width: 70%;
   }
    .user-name{
    margin-top: 20%;
   }
   .user-data{
    height: 100%;
    width: 95%;
   }
   .user-photo{
    width: 95%;
   }
}


@media screen and (min-width:480px) and (max-width:768px)   {
   .image-container{
    width: 50%;
   }
   .user-name{
    margin-top: 15%;
   }
  
}


