@media screen and (min-width:220px) and (max-width:480px) {
  .signup-image{
     width: 95%;
     height: 300px;
     margin-top: 20px;     
   
    }
    .sign-form {
        width: 95%;
        height: 550px;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    .singUp-image{
        margin-bottom: 25px;
    }
   
}


@media screen and (min-width:480px) and (max-width:768px)   {
   .signup-image{
     width: 95%;
     height: 400px;
     margin-top: 20px;     
   
    }
    .sign-form {
        width: 75%;
        height: 500px;
        margin-top: 30px;
    }
   
}


@media screen and (min-width : 768px) {
  .sign-form {
        width: 70%;
        height: 580px;
        
    }
}

.box{
    width:40px;
    height: 40px;
    z-index: 1000;
    background-color: red;
    animation:anime 1s linear 0.5s infinite ;
    -webkit-animation:anime 1s linear 0.5s infinite ;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
}




@keyframes anime {
0%{
        margin-top: -700px;
        opacity: 1;
       
}

5%{
        margin-top: -500px;
        opacity: 0.9;
     
}

15%{
        margin-top: -400px;
        opacity: 0.85;
      
    }

20%{
        margin-top: -300px;
        opacity: 0.8;
    
}

25%{
        margin-top: -200px;
        opacity: 0.75;     
}
30%{
        margin-top: -100px;
        opacity: 0.7;
    
} 
35%{
        margin-top: 0px;
        opacity: 0.65;
      
}
40%{
        margin-top: 100px;
        opacity: 0.6;
       
}
45%{
        margin-top: 200px;
        opacity: 0.55;
       
}

50%{
        margin-top: 300px;
        opacity: 0.50;
      
} 

55%{
        margin-top: 400px;
        opacity: 0.45;
     
}
60%{
        margin-top: 500px;
        opacity: 0.4;
   
}
65%{
        margin-top: 600px;
        opacity: 0.35;
       
}
70%{
        margin-top: 700px;
        opacity: 0.3;
     
} 
75%{
        margin-top: 800px;
        opacity: 0.25;
      
}
80%{
        margin-top: 900px;
        opacity: 0.2;
    
}
85%{
        margin-top: -500px;
        opacity: 0.15;
     
}
90%{
        margin-top: -600px;
        opacity: 0.1;
    
} 
95%{
        margin-top: -650px;
        opacity: 0.05;
      
}
100%{
        margin-top: -660px;
        opacity: 0;
       
}
0%{
        margin-top: -700px;
        opacity: 0;
       
}

}